<%- include('parts/header')%>

<title>Welcome</title>
</head>
<body>
<%- include('parts/nav')%>

<div class="modal-content w-50 m-auto">
    <div class="modal-header">
        <h5 class="modal-title text-capitalize font-weight-bold" id="addNewArticalLabel">edit artical</h5>
    </div>
    <form action="/editArtical/<%=result[0].id %>" method="POST">
        <div class="modal-body">
            <div class="container p-5">
                <input type="text" class="form-control my-1" name="articalTitle" placeholder="enter title of artical" value="<%=result[0].articalTitle %>">
                <textarea rows="10" class="form-control my-1" name="articalContent" placeholder="enter artical Content"><%=result[0].articalContent %></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-dark text-capitalize">update</button>
        </div>
    </form> 
</div>

<%- include('parts/footer')%>