<%- include('parts/header')%>

<title>Welcome</title>
</head>
<body>
<%- include('parts/nav')%>

<div class="container py-5">
    <div class="row">
        <%for(let res=0; res < result.length;res++){%>
            <div class="col-md-7 py-3 m-auto">
                <div class="card w-75 m-auto shadow text-center h-100">
                    <div class="card-header">
                        <%= result[res].articleTitle%>
                    </div>
                    <div class="card-body p-4">
                        <p class="card-text text-left my-2 articleContent"><%= result[res].articleContent%></p>
                        
                    </div>
                    <div class="mb-3">
                        <a href="/readMore/<%= result[res].id%>" class="btn btn-dark py-1 px-2 text-capitalize">read More </a>
                        <a href="/edit/<%= result[res].id%>" class="btn btn-secondary py-1 px-2 text-capitalize">edit</a>
                        <a href="/delete/<%= result[res].id%>" class="btn btn-danger py-1 px-2 text-capitalize">delete</a>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between">
                        <small ><%= result[res].publishDate.toDateString()%> </small>
                        <small ><%= result[res].publishDate.toLocaleTimeString()%></small>
                    </div>
                </div>
            </div>
        <%}%>
    </div>
</div>
<%- include('parts/footer')%>